@media (prefers-color-scheme: light) {
  body {
    background: white;
    color: black;
  }
  svg {
    fill: black;
  }
}
@media (prefers-color-scheme: dark) {
  body {
    background: black;
    color: white;
  }
  svg {
    fill: white;
  }
}
